<a href="https://colab.research.google.com/github/amit154154/Amit-Israeli/blob/master/exrecies4_Intro_data_engenier.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# import modules

In [1]:
import json
import os
import math
import numpy as np
import pandas as pd
import seaborn as sns

# Set kaggle api and download the datasets

In [2]:
!pip install kaggle
!mkdir /root/.kaggle/ 


username = 'amitisraeli'
api_key = '2f3ca193658687f4b69ec3ab61ac49d4'

api_token = {"username":username, "key":api_key}

with open('/root/.kaggle/kaggle.json', 'w') as file:
  json.dump(api_token, file)
!chmod 600 /root/.kaggle/kaggle.json

Requirement already satisfied: kaggle in /usr/local/lib/python3.6/dist-packages (1.5.9)
Requirement already satisfied: tqdm in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.41.1)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.0.1)
Requirement already satisfied: slugify in /usr/local/lib/python3.6/dist-packages (from kaggle) (0.0.1)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.8.1)
Requirement already satisfied: certifi in /usr/local/lib/python3.6/dist-packages (from kaggle) (2020.6.20)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (2.10)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.6/dist-packages (from python-slugify->kaggle) (1.3)

**download datasets:**


*   The Marvel Universe Social Network
*   Significant Earthquakes 1965-2016
*   FIFA 19 complete player dataset

In [55]:
!mkdir ./datasets
!mkdir ./datasets/Marvel_Universe_Social_Network
!mkdir ./datasets/Significant_Earthquakes
!mkdir ./datasets/Fifa_database

!kaggle datasets download csanhueza/the-marvel-universe-social-network  -p ./datasets/Marvel_Universe_Social_Network
!kaggle datasets download usgs/earthquake-database  -p ./datasets/Significant_Earthquakes
!kaggle datasets download karangadiya/fifa19  -p ./datasets/Fifa_database

!unzip ./datasets/Marvel_Universe_Social_Network/*.zip -d ./datasets/Marvel_Universe_Social_Network/database/
!unzip ./datasets/Significant_Earthquakes/*.zip -d ./datasets/Significant_Earthquakes/database/
!unzip ./datasets/Fifa_database/*.zip -d ./datasets/Fifa_database/database/

mkdir: cannot create directory ‘./datasets’: File exists
mkdir: cannot create directory ‘./datasets/Marvel_Universe_Social_Network’: File exists
mkdir: cannot create directory ‘./datasets/Significant_Earthquakes’: File exists
the-marvel-universe-social-network.zip: Skipping, found more recently modified local copy (use --force to force download)
earthquake-database.zip: Skipping, found more recently modified local copy (use --force to force download)
Downloading fifa19.zip to ./datasets/Fifa_database
  0% 0.00/2.18M [00:00<?, ?B/s]
100% 2.18M/2.18M [00:00<00:00, 72.7MB/s]
Archive:  ./datasets/Marvel_Universe_Social_Network/the-marvel-universe-social-network.zip
replace ./datasets/Marvel_Universe_Social_Network/database/edges.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: ./datasets/Marvel_Universe_Social_Network/database/edges.csv
replace ./datasets/Marvel_Universe_Social_Network/database/hero-network.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: ./datasets/Marvel_Universe_Social_Network/database/hero-network.csv
replace ./datasets/Marvel_Universe_Social_Network/database/nodes.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: ./datasets/Marvel_Universe_Social_Network/database/nodes.csv
Archive:  ./datasets/Significant_Earthquakes/earthquake-database.zip
replace ./datasets/Significant_Earthquakes/database/database.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: ./datasets/Significant_Earthquakes/database/database.csv
Archive:  ./datasets/Fifa_database/fifa19.zip
  inflating: ./datasets/Fifa_database/database/data.csv

# Marvel_Universe_Social_Network

In [104]:
df_nodes = pd.read_csv('/content/datasets/Marvel_Universe_Social_Network/database/edges.csv')
df_nodes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96104 entries, 0 to 96103
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   hero    96104 non-null  object
 1   comic   96104 non-null  object
dtypes: object(2)
memory usage: 1.5+ MB

# Significant_Earthquakes dataset

setting dataframe

In [25]:
df = pd.read_csv('/content/datasets/Significant_Earthquakes/database/database.csv')
df

             Date      Time  ...  Magnitude Source     Status
0      01/02/1965  13:44:18  ...            ISCGEM  Automatic
1      01/04/1965  11:29:49  ...            ISCGEM  Automatic
2      01/05/1965  18:05:58  ...            ISCGEM  Automatic
3      01/08/1965  18:49:43  ...            ISCGEM  Automatic
4      01/09/1965  13:32:50  ...            ISCGEM  Automatic
...           ...       ...  ...               ...        ...
23407  12/28/2016  08:22:12  ...                NN   Reviewed
23408  12/28/2016  09:13:47  ...                NN   Reviewed
23409  12/28/2016  12:38:51  ...                US   Reviewed
23410  12/29/2016  22:30:19  ...                US   Reviewed
23411  12/30/2016  20:08:28  ...                US   Reviewed

[23412 rows x 21 columns]

get strongest Earthquake

In [5]:
df[df['Type'] == 'Earthquake'].sort_values('Magnitude',ascending=False).iloc[0]

Date                                            03/11/2011
Time                                              05:46:24
Latitude                                            38.297
Longitude                                          142.373
Type                                            Earthquake
Depth                                                   29
Depth Error                                            NaN
Depth Seismic Stations                                 541
Magnitude                                              9.1
Magnitude Type                                         MWW
Magnitude Error                                        NaN
Magnitude Seismic Stations                             NaN
Azimuthal Gap                                          9.5
Horizontal Distance                                    NaN
Horizontal Error                                       NaN
Root Mean Square                                      1.16
ID                            OFFICIAL20110311054624120_30
Source                                            OFFICIAL
Location Source                                         US
Magnitude Source                                  OFFICIAL
Status                                            Reviewed
Name: 20501, dtype: object

strongest necluer Earthquake

In [6]:
df[df['Type'] == 'Nuclear Explosion'].sort_values('Magnitude',ascending=False).iloc[0]

Date                                 10/27/1973
Time                                   06:59:57
Latitude                                 70.779
Longitude                                54.177
Type                          Nuclear Explosion
Depth                                         0
Depth Error                                 NaN
Depth Seismic Stations                      NaN
Magnitude                                   6.9
Magnitude Type                               MB
Magnitude Error                             NaN
Magnitude Seismic Stations                  NaN
Azimuthal Gap                               NaN
Horizontal Distance                         NaN
Horizontal Error                            NaN
Root Mean Square                            NaN
ID                                   USP00003YA
Source                                       US
Location Source                              US
Magnitude Source                             US
Status                                 Reviewed
Name: 2897, dtype: object

set new column - 'Year' and setting pandas groupby object

In [8]:
df['Year'] = df['Date'].str.split('/').str[2]
year_group = df.groupby(['Year'])

print the year that had the least earthqueks that have more than 6 Magnitude

In [9]:
years = pd.Series(df['Year'].unique()).dropna()
years_count = []
for year in years:
  year_df = year_group.get_group(str(year))
  years_count.append(len(year_df[year_df['Magnitude'] > 6]))
print(years[years_count.index(min(years_count))])

1976

print the year that had the most earthqueks that have more than 9 Magnitude

In [10]:
years_count = []
for year in years:
  year_df = year_group.get_group(str(year))
  years_count.append(len(year_df[year_df['Magnitude'] > 9]))
print(years[years_count.index(max(years_count))])

2003

creat new column - 'Hour'

In [52]:
df['Hour'] = df['Time'].str.split(':').str[0]
df = df[df.Hour.str.len() < 3]
Hour_group = df.groupby(['Hour'])

print year with the most earthqueks

In [53]:
hours = pd.Series(df['Hour'].unique()).dropna()
hours_count = []
for hour in hours:
  hours_count.append(len(Hour_group.get_group(hour)))
print(hours[hours_count.index(max(hours_count))])

13

# FIFA 19 complete player dataset

setting dataframe

In [93]:
df = pd.read_csv('/content/datasets/Fifa_database/database/data.csv')
df

       Unnamed: 0      ID  ... GKReflexes  Release Clause
0               0  158023  ...        8.0         €226.5M
1               1   20801  ...       11.0         €127.1M
2               2  190871  ...       11.0         €228.1M
3               3  193080  ...       94.0         €138.6M
4               4  192985  ...       13.0         €196.4M
...           ...     ...  ...        ...             ...
18202       18202  238813  ...        9.0           €143K
18203       18203  243165  ...       12.0           €113K
18204       18204  241638  ...       13.0           €165K
18205       18205  246268  ...        9.0           €143K
18206       18206  246269  ...        9.0           €165K

[18207 rows x 89 columns]

function that return the strongest player in country

*  **input** - country name in dataframe
*  **output** - strongest player in that country

In [96]:
def strongest_in_country(country):
  df = pd.read_csv('/content/datasets/Fifa_database/database/data.csv')
  df = df[df['Nationality'] == country]
  return df.loc[df['Strength'].idxmax()]

In [97]:
print(strongest_in_country('Brazil'))
print('\n')
print(strongest_in_country('France'))

Unnamed: 0                                                  1124
ID                                                        232381
Name                                                      Wesley
Age                                                           21
Photo             https://cdn.sofifa.org/players/4/19/232381.png
                                       ...
GKHandling                                                    13
GKKicking                                                     14
GKPositioning                                                  8
GKReflexes                                                     6
Release Clause                                              €23M
Name: 1124, Length: 89, dtype: object


Unnamed: 0                                                  1193
ID                                                        202750
Name                                                     W. Boly
Age                                                           27
Photo             https://cdn.sofifa.org/players/4/19/202750.png
                                       ...
GKHandling                                                     8
GKKicking                                                     15
GKPositioning                                                 10
GKReflexes                                                     9
Release Clause                                            €17.8M
Name: 1193, Length: 89, dtype: object

function that return avarge overall of all players in club

*  **input** - club name in dataframe
*  **output** - avarge overall of all player in that country

In [102]:
def Club_overall(club_name):
  df = pd.read_csv('/content/datasets/Fifa_database/database/data.csv')
  df = df[df['Club'] == club_name]
  return df['Overall'].sum() / len(df)